<div class="p-5 mb-2 bg-warning-subtle text-warning-emphasis">
  <div class="text-center">
    <h1 class="text-start">Drink of the moment</h1>
    <p class="text-start mb-4">
      Gin, also known as gin, is one of the most popular and appreciated
    </p>
    <h2 class="text-start">4.9</h2>
    <div class="text-start">
      <a class="btn btn-primary rounded" href="#" role="button">Try now</a>
    </div>
    <div class="text-end">
      <img
        src="../../../../assets/water-solid 1.png"
        alt="water"
        class="rounded-circle"
      />
      <div class="text-end">
        <img
          src="../../../../assets/cocktail-solid 1.png"
          alt="cocktail"
          class="rounded-circle"
        />
      </div>
      <div class="text-end">
        <img
          src="../../../../assets/Vector.png"
          alt="vector"
          class="rounded-circle"
        />
      </div>
    </div>
    <img
      src="../../../../assets/botellagincentro.png"
      class="rounded-circle"
      alt="logo"
    />
  </div>
</div>
